*{
    padding: 0px;
    margin: 0px;
    font-size: 50px;
}
.wrap{
    width: 100%;
    margin: 0 auto;
}
.top{
    display: flex;
}
.contentInput{
    width: 100%;
    padding: 20px;
    border: none;
    box-shadow: 0px 0px 3px red;
}
.addBtn{
    width: 100px;
    padding: 10px;
    border: none;
    box-shadow: 0px 0px 3px red;
}
.contentBox {
    display: flex;
    justify-content: space-between;
    align-content: center;
    background-color: lightpink;
    margin: 20px 0px;
    padding: 15px 10px;
    height: 50px;
}
.success{
    background-color: gray;
    color: white;
}
.success > .content{
    text-decoration: line-through;
}